:root {
  /* ===============================================
                      Variables
   =============================================== */
  /* 🎨 Paleta de colores */
  --color-bg: #F9F7F5;
  --color-btnd: #253028;
  --color-text: #111111;
  --color-text-alt: #fafafa;
  --color-border: #212121;


  /* ✍️ Tipografía */
  --font-family-text: 'Inter', sans-serif, system-ui;
  --font-family-btn: 'Hind Siliguri', sans-serif, system-ui;
  --font-family-headings: 'Kanit', sans-serif, system-ui;
  --font-family-subheadings: 'Kanit', sans-serif, system-ui;
  --font-size-xsm: 1rem;
  --font-size-sm: 1.4rem;
  --font-size-base: 1.6rem;
  --font-size-md: 2.2rem;
  --font-size-lg: 3.2rem;
  --font-size-xlg: 4.8rem;

  --fluid-font-size-small: clamp(var(--font-size-xsm), 4vw, var(--font-size-base));
  --fluid-font-size-base: clamp(var(--font-size-base), 4vw, var(--font-size-md));
  --fluid-font-size-large: clamp(var(--font-size-md), 4vw, var(--font-size-lg));

  --regular: 400;
  --medium: 500;
  --bold: 700;

  /* 📐 Espacio */
  --space-xs: .5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  /* 🧱 Extras */
  --btn_radius: 100vmax;
  --rounded-corners: .5rem;
  --shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1);
  --outline: .1rem solid oklab(from var(--color-btnd) l a b / 0.7);
  --debug: .1rem solid red;
  --fade-overlay: linear-gradient(to bottom in oklab,
      oklch(0% 0.00 340 / 50%) 0%, 100%, oklch(0% 0.00 200 / 50%) 0% 0%);
}

/* ===============================================
                  Fuentes locales
   =============================================== */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('assets/fonts/HindSiliguri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Hind Siliguri';
  src: url('assets/fonts/HindSiliguri-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('assets/fonts/HindSiliguri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('assets/fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Kanit';
  src: url('assets/fonts/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('assets/fonts/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* 🌍 Estilos globales */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
}


a {
  text-decoration: none;
  display: inline-block;
  transition: background-color .3s ease-in-out;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1 {
  font-family: var(--font-family-headings);
  font-size: var(--fluid-font-size-large);
}

h2 {
  font-family: var(--font-family-subheadings);
  font-size: var(--fluid-font-size-base);
}

p {
  font-family: var(--font-family-text);
  font-size: var(--fluid-font-size-small);
}

header {
  padding: var(--space-lg) var(--space-lg) 0 var(--space-lg);
  max-width: 100%;
}

.navbar,
.branding,
.enlaces,
.aut_botones,
#inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 var(--space-md);
}

.branding img {
  width: 4rem;
  height: 4rem;
  flex: 0 0 auto;
  min-width: 0;
}

.branding .nombre_compañía {
  font-family: var(--font-family-headings);
  font-size: var(--fluid-font-size-base);
  color: var(--color-text);
  font-weight: var(--medium);
}

.enlaces a {
  font-family: var(--font-family-text);
  font-size: var(--fluid-font-size-small);
  color: oklab(from var(--color-text) l a b / 0.7);
  font-weight: var(--regular);
  transition: all .3s ease-in-out;


  &:hover {
    color: oklab(from var(--color-btnd) l a b / 1);
    font-weight: var(--bold);
  }

  &:focus-visible {
    color: oklab(from var(--color-btnd) l a b / 1);
    outline: var(--outline);
    border-radius: var(--btn_radius);
    padding: var(--space-xs) var(--space-sm);
    border: none;
    font-weight: var(--bold);
  }
}

:where(.aut_botones) .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-btn);
  font-size: var(--fluid-font-size-small);
}

.btn_login {
  color: var(--color-text);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--btn_radius);
  outline: var(--outline);
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: var(--color-btnd);
    color: var(--color-text-alt);
  }

  &:focus-visible {
    background-color: var(--color-btnd);
    color: var(--color-text-alt);
  }
}

.btn_signup {
  color: var(--color-text-alt);
  background-color: oklab(from var(--color-btnd) l a b / .9);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--btn_radius);
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: oklab(from var(--color-btnd) l a b / 1);
  }

  &:focus-visible {
    background-color: oklab(from var(--color-btnd) l a b / 1);
  }
}

.aut_botones:has(.btn_login:hover, .btn_login:focus-visible) .btn_signup {
  background-color: transparent;
  color: var(--color-text);
  border-radius: var(--btn_radius);
  outline: var(--outline);
}

.titulo_branding_contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  margin-block-start: var(--space-lg);
}

.titulo_unleash, .titulo_stylish{
  color: oklab(from var(--color-btnd) l a b / .9);
  font-family: var(--font-family-headings);
  font-weight: var(--medium);
  font-size: calc(var(--fluid-font-size-large) * 1.4);
  line-height: calc(var(--space-lg) * 1.4);
  letter-spacing: .2rem;
  visibility: hidden;
}

.titulo_unleash {
  animation: slides-left 1s linear forwards;
}

.titulo_stylish {
  animation: slides-right 1s linear forwards;
  /* animation-delay: .5s; */
}

@keyframes slides-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slides-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

