/* ==============================================
                  Variables
============================================== */

:root {
  /* 🎨 Paleta de colores */
  --color-bg: oklab(97.913% 0 -0.00011);
  --color-btnd: lab(18.63% -6.71 3.59);
  --color-text: oklab(17.764% 0 -0.00002);
  --color-text-alt: oklab(98.51100000000001% 0 -0.00011);
  --color-border: oklab(24.776% 0 -0.00003);
  --swiss-almond: oklab(89.361% 0.00654 0.0202);
  --swiss-almond-text: oklab(57.07% 0.01568 0.0502);
  --quiet-drizzle: oklab(83.541% -0.03073 0.0122);
  --quiet-drizzle-text: oklab(49.557% -0.04706 0.02199); 
  --pale-dogwood: oklab(86.48% 0.03247 0.02168);
  --pale-dogwood-text: oklab(62.356% 0.04352 0.03713);
  --canyon-peach: oklab(90.196% 0.0132 0.02502);
  --canyon-peach-text: oklab(69.20500000000001% 0.02269 0.06706);


  /* ✍️ Tipografía */
  --font-family-text: 'Inter', sans-serif, system-ui;
  --font-family-btn: 'Hind Siliguri', sans-serif, system-ui;
  --font-family-headings: 'Kanit', sans-serif, system-ui;
  --font-family-subheadings: 'Kanit', sans-serif, system-ui;
  --font-size-xsm: 1rem;
  --font-size-sm: 1.4rem;
  --font-size-base: 1.6rem;
  --font-size-md: 2.2rem;
  --font-size-lg: 3.2rem;
  --font-size-xlg: 4.8rem;

  --fluid-font-size-small: clamp(var(--font-size-xsm), 4vw, var(--font-size-base));
  --fluid-font-size-base: clamp(var(--font-size-base), 4vw, var(--font-size-md));
  --fluid-font-size-large: clamp(var(--font-size-md), 4vw, var(--font-size-lg));

  --regular: 400;
  --medium: 500;
  --bold: 700;

  /* 📐 Espacio */
  --space-xs: .5rem;
  --space-base: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  /* 🧱 Extras */
  --btn_radius: 100vmax;
  --rounded-corners: .5rem;
  --shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1);
  --outline: .1rem solid oklab(from var(--color-btnd) l a b / 0.7);
  --debug: .1rem solid red;
  --fade-overlay: linear-gradient(to bottom in oklab,
      oklch(0% 0.00 340 / 50%) 0%, 100%, oklch(0% 0.00 200 / 50%) 0% 0%);
}


/* ==============================================
                  Fuentes Locales
============================================== */

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('assets/fonts/HindSiliguri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Hind Siliguri';
  src: url('assets/fonts/HindSiliguri-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('assets/fonts/HindSiliguri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('assets/fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Kanit';
  src: url('assets/fonts/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('assets/fonts/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* ==============================================
                  Estilos Globales
============================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
}


a {
  text-decoration: none;
  display: inline-block;
  transition: background-color .3s ease-in-out;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1 {
  font-family: var(--font-family-headings);
  font-size: var(--fluid-font-size-large);
}

h2 {
  font-family: var(--font-family-subheadings);
  font-size: var(--fluid-font-size-base);
}

p {
  font-family: var(--font-family-text);
  font-size: var(--fluid-font-size-small);
}


  /* ===============================================
                      Navbar
   =============================================== */

header {
  padding: 4rem 12.5% 0 12.5%;
  max-width: 100%;
}

.navbar,
.branding,
.enlaces,
.aut_botones,
#inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 var(--space-md);
}

.branding img {
  width: 4rem;
  height: 4rem;
  flex: 0 0 auto;
  min-width: 0;
}

.branding .nombre_compañía {
  font-family: var(--font-family-headings);
  font-size: var(--fluid-font-size-base);
  color: var(--color-text);
  font-weight: var(--medium);
}

.enlaces a {
  font-family: var(--font-family-text);
  font-size: var(--fluid-font-size-small);
  color: oklab(from var(--color-text) l a b / 0.7);
  font-weight: var(--regular);
  transition: all .3s ease-in-out;


  &:hover {
    color: oklab(from var(--color-btnd) l a b / 1);
    font-weight: var(--bold);
  }

  &:focus-visible {
    color: oklab(from var(--color-btnd) l a b / 1);
    outline: var(--outline);
    border-radius: var(--btn_radius);
    padding: var(--space-xs) var(--space-base);
    border: none;
    font-weight: var(--bold);
  }
}

:where(.aut_botones) .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-btn);
  font-size: calc(var(--fluid-font-size-small) - .2rem);

  &:active {
    transform: scale(0.95);
  }
}

.btn_login {
  color: var(--color-text);
  padding: var(--space-xs) var(--space-base);
  border-radius: var(--btn_radius);
  outline: var(--outline);
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: var(--color-btnd);
    color: var(--color-text-alt);
  }

  &:focus-visible {
    background-color: var(--color-btnd);
    color: var(--color-text-alt);
  }
}

.btn_signup {
  color: var(--color-text-alt);
  background-color: oklab(from var(--color-btnd) l a b / .9);
  padding: var(--space-base) var(--space-md);
  border-radius: var(--btn_radius);
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: oklab(from var(--color-btnd) l a b / 1);
  }

  &:focus-visible {
    background-color: oklab(from var(--color-btnd) l a b / 1);
  }
}

.aut_botones:has(.btn_login:hover,
.btn_login:focus-visible) .btn_signup {
  background-color: transparent;
  color: var(--color-text);
  border-radius: var(--btn_radius);
  outline: var(--outline);
}

/* ==============================================
                  Landing
============================================== */
#landing{
  padding: 0 12.5% 0 12.5%;
  max-width: 100%;
  margin-block-end: var(--space-lg);
}

.titulo_branding_contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  margin-block: var(--space-lg);
}

.titulo_unleash, .titulo_stylish{
  color: oklab(from var(--color-btnd) l a b / .9);
  font-family: var(--font-family-headings);
  font-weight: var(--medium);
  font-size: calc(var(--fluid-font-size-large) * 1.2);
  line-height: calc(var(--space-lg) * 1.1);
  letter-spacing: .2rem;
  visibility: hidden;
}

.titulo_unleash {
  animation: entrada-iz 1s ease-out forwards;
}

.titulo_stylish {
  animation: entrada-de 1s ease-out forwards;
  animation-delay: .5s;
}

@keyframes entrada-iz {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes entrada-de {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.carrusel_contenedor{
  max-width: 108rem;
  height: 52rem;
  margin-inline: auto;
  overflow-y: clip;
  /* position: relative; */
  anchor-name: --carrusel_contenedor;
}

.carrusel{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  overflow-y: hidden;
  height: 100%;
  display: grid;
  grid: 1fr / repeat(6, minmax(108rem, 1fr));
  place-items: stretch;
  scrollbar-width: none;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 648rem; */
  gap: 0 1rem;
  outline: none;
  scroll-marker-group: after;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

.panel {
  outline: none;
  scroll-snap-align: center;
  background-color: transparent;
  /* flex: 0 0 auto; */

  & img{
    border-radius: calc(var(--space-xs) * 10);
  }
}

.figuras_contenedor {
  position: absolute;
}

.figura_si {
  position-anchor: --carrusel_contenedor;
  position-area: center center;
  position-visibility: always;
  margin-inline-end: auto;
  margin-block-end: auto;
  anchor-name: --figura_si;
}

.figura_id {
  position-anchor: --carrusel_contenedor;
  position-area: center center;
  position-visibility: always;
  margin-inline-start: auto;
  margin-block-start: auto;
  anchor-name: --figura_id;
  transform: rotate(180deg);
}

.carrusel_texto {
  position: absolute;
  width: 40ch;
  line-height: 1.5;
  font-size: calc(var(--fluid-font-size-small) - .3rem);
  padding: var(--space-base);
  position-anchor: --figura_si;
  position-area: center center;
  position-visibility: always;
  margin-inline-end: auto;
  margin-block-end: auto;
}


/* ==============================================
               Unsuported
============================================== */
/* .carrusel_contenedor::scroll-marker-group{
  position: absolute;
  position-anchor: --carrusel_contenedor;
  position-area: center center;
  position-visibility: always;
  margin-inline-start: auto;
  margin-block-end: auto;
  width: 40rem;
  height: 20rem;
  outline: 2px solid red;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}


.carrusel li::scroll-marker{
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  outline: .1rem solid #f0f0f0b3;
  flex: 0 0 auto;
  min-width: 0;
}

.carrusel li::scroll-marker:hover{
  background-color: #f0f0f0;
  outline: .1rem solid #ffc94a;
  transform: scale(1.2);
  transition: transform .3s ease-in-out, outline .3s ease-in-out, background-color .3s ease-in-out;
}

.carrusel li::scroll-marker:target-current{
  background-color: rgb(255, 201, 74);
} */

.marker-group-fallback {
  border: none;
  display: grid;
  grid: 1fr / repeat(6, 1fr);
  place-items: center start;
  position: absolute;
  position-anchor: --carrusel_contenedor;
  position-area: center center;
  position-visibility: always;
  margin-inline-start: auto;
  margin-block-end: auto;
  gap: 1rem;
  padding: var(--space-md) var(--space-lg) 0 0;

  & .carrusel_radio {
    width: 1.4rem;
    height: 1.4rem;
    background-color: none;
    outline: .1rem solid rgb(255, 201, 74);
    border-radius: 50%;
    cursor: pointer;
  }

  & .carrusel_radio:hover {
    background-color: rgb(255, 201, 74);
    outline: .1rem solid rgb(255, 255, 255, .5);
  }

  & .carrusel_radio:focus-visible {
    background-color: rgb(255, 201, 74);
    outline: .1rem solid rgb(255, 255, 255, .5);
  }

    & .carrusel_radio:active {
    background-color: rgb(255, 201, 74);
    outline: .1rem solid rgb(255, 255, 255, .5);
  }
}

#input_buscar_carrusel {
  position: absolute;
  position-anchor: --figura_id;
  position-area: center center;
  position-visibility: always;
  border-radius: var(--btn_radius);
  font-size: var(--fluid-font-size-small);
  text-align: center;
  padding: 2rem 1rem;
  width: 85%;
  border: none;
  outline: .1rem solid oklab(from var(--color-btnd) l a b / .5);
  margin-inline-start: auto;
  margin-inline-end: .1rem;
  margin-block-start: auto;
  anchor-name: --input_search;

  &:focus {
    outline: .2rem solid oklab(from var(--color-btnd) l a b / .9);
  }

  &:focus-visible {
    outline: .2rem solid oklab(from var(--color-btnd) l a b / .9);
  }
}

#input_buscar_carrusel::placeholder {
  font-family: var(--font-family-text);
  font-size: var(--fluid-font-size-small);
  font-weight: var(--medium);
  color: oklab(from var(--color-btnd) l a b / .8);
}

#input_buscar_carrusel::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

#input_buscar_carrusel::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.buscar_icono_contenedor {
  position: absolute;
  position-anchor: --input_search;
  position-area: center center;
  position-visibility: always;
  width: 2.8rem;
  height: 2.8rem;
  margin-inline-start: 70%;
  margin-block-start: 1%;

  & img{
    opacity: 0.5;
  }
}

#landing:has(#input_buscar_carrusel:focus-visible) .buscar_icono_contenedor {
  display: none;
}
/* ==============================================
                  Testimonio
============================================== */
#testimonio{
  padding: 0 12.5% 0 12.5%;
  margin-block-end: var(--space-lg);
}

.testimonio_contenedor{
 max-width: 108rem;
 overflow-X: clip;
 margin-inline: auto;
 /* outline: 2px dotted seagreen;
 display: grid;
 grid: 100% / 20% 60% 20%;
 grid-auto-flow: column;
 gap: 0 2rem;
 place-items: center start; */
 display: flex;
 gap: 0 1rem;
}

.personas_contenedor{
  display: grid;
  grid: 1fr 1fr / 1fr;
  grid-auto-flow: row;
  place-items: center start;
}

.avatar_personas_cotenedor{
 display: flex;
 flex-flow: row nowrap;
 gap: 0 .5rem;
 padding: 0 var(--space-xs);
}

.fondo_personas {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  flex: 0 0 auto;
  min-width: 0;
  align-content: center;
  overflow: clip;
  transition: transform .3s ease-in-out;

  & img {
    width: 5rem;
    height: 5rem;
    margin-inline: auto;
  }

  &:hover {
    transform: scale(1.1);
    outline: .1rem solid oklab(from var(--color-btnd) l a b / 0.9);
  }

  &:hover:active {
    transform: scale(1);
  }
}




.swiss-almond {
  background-color: var(--swiss-almond);
}

.quiet-drizzle {
  background-color: var(--quiet-drizzle);
}

.pale-dogwood {
  background-color: var(--pale-dogwood);
}

.canyon-peach {
  background-color: var(--canyon-peach);
}

.personas_texto{
  font-family: var(--font-family-text);
  font-size: var(--fluid-font-size-small);
  line-height: 1.5;

  & :nth-child(2){
    font-weight: 600;
  }
}

.carrusel_testimonio_contenedor {
  display: grid;
  grid: 100% / repeat(4, 100%);
  overflow-x: auto;
  /* scrollbar-width: none; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

.carrusel_testimonio {
  line-height: 2;
  width: 60ch;
  text-align: center;
  scroll-snap-align: center;
}

#juliet p {
  color: var(--swiss-almond-text);
  font-weight: var(--medium);
}

#matthew p {
  color: var(--quiet-drizzle-text);
  font-weight: var(--medium);
}

#sandra p {
  color: var(--pale-dogwood-text);
  font-weight: var(--medium);
}

#andy p {
  color: var(--canyon-peach-text);
  font-weight: var(--medium);
}

















/* ==============================================
              creating space
============================================== */

.esqueleto {
  height: 40rem;
  width: 108rem;
  outline: .4rem dotted seagreen;
  margin-inline: auto;
  margin-block-end: 5rem;
}



